{% extends 'layout.html' %}

{% block body %}
<br>
<h1>About Us</h1>
<p>This application was built by the <a href="https://www.nonproliferation.org">James Martin Center for Nonproliferation Studies</a> 
as part of the Advanced New Tools Methods Project. It was funded under the generous sponsorship of 
the <a href="https://skoll.org">Skoll Foundation</a>.</p>
<br>
<br>
<div class="container">
  <h2>Yeah, Monterey is kinda like that!</h2>
  <img class="img-responsive" src="http://www.montereybayaquarium.org/-/m/images/animal-guide/marine-mammals/humback-breach-clouds.jpg" 
  alt="Monterey Bay Whale" width="1000" height="800" >
</div>
{% endblock %}