{% extends 'layout.html' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Welcome to PicParse</h1>
		<p class="lead">This application is a demonstration of deep learning for image classification.  
		It is built on the Python Flask framework and uses a convolutional neural network based on the ResNet50 
		architecture for classification.</p>
	</div>
	
	<div class="container">
		<h1>Sites to Parse</h1>
		<form action="/" class= "form-group" method="POST"> <!--form-group makes the text into a long box, otherwise it is small -->
			<textarea class="form-control" name="urls" id="url-box" placeholder="Enter URLs, separated by commas" rows=5></textarea>  
			<button type="submit" class="btn btn-default btn-lg btn-block" style="margin-top:10px">Parse It!</button>
		</form>
     </div>
	 <br> 
	 <!-- stuff goes here -->
	</div> 
	
{% endblock %} 