{% extends 'layout.html' %}

{% block body %}
<br>
<div class="parser-results">
	<h1>Parser Results</h1>
		<p>Found {{ full_results|length }} total images.
		Showing {{ results|length }}.</p>
		
		<div class="container">
	<!-- Results Table -->
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Site URL</th>
					<th scope="col">Predicted Class</th>
					<th scope="col">Image Thumbnail</th>
				</tr>
			</thead>
			<tbody>
			{% for item in results %}
				<tr>
				<!--<th scope="row">{{ (results|length)-(results|length -1)}}</th> -->
				<td>{{ item[0] }}</td>
				<td>Picture class is {{ item[1] }}</td>
				<td><a href="{{ item[2] }}"><img src={{ item[2] }} style="max-width:20%; height:auto" class="img fluid img-thumbnail"></a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}