{% extends 'layout.html' %}

{% block body %}
<br>
<div class="parser-results">
	<h1>Parser Results</h1>
		<p>Found {{ results|length }} total images.</p>
		
		<div class="container">
	<!-- Results Table -->
		<table class="table table-bordered">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Site URL</th>
					<th scope="col">Image URL</th>
					<th scope="col">Image Thumbnail</th>
				</tr>
			</thead>
			<tbody>
			{% for item in results %}
				<tr>
				<!--<th scope="row">{{ (results|length)-(results|length -1)}}</th> -->
				<td>This will be the site url</td>
				<td>Picture class is {{ item[0] }}</td>
				<td><a href="{{ item[1] }}"><img src={{ item[1] }} style="max-width:20%; height:auto" class="img fluid img-thumbnail"></a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}